$purple: hsla(250, 100%, 70%, 1);
$light-purple: hsla(227, 100%, 95%, 1);
$lavender: hsla(250, 100%, 83%, 1);
$light-lavender: hsla(250, 100%, 83%, 0.2);
$dark-purple: hsla(258, 34%, 19%, 1);

$yellow: hsla(31, 100%, 72%, 1);
$green: rgb(101, 182, 133);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 1);